.headOne {
    font: bold;
    border-color: black;
    border: 15px;
    border-style: double;
    border-radius: 100em;
    font-size: 50px;
    text-align: center;
    background-color: rgb(248, 232, 2);
}

.headTwo {
    font-size: 25px;
    margin-left: 45px;
    background-color: bisque;
}